/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

#nav1,
#myFooter {
  background-color: #271770;
  color: #f1f1f1;
}

#nav1 a {
  color: #f1f1f1;
}

#logo {
  width: 3rem;
  border-radius: 50%;
}

#hambergerButton {
  border-color: white;
}

#logout {
  margin-right: 3rem;
  color: yellow !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

#logout:hover {
  text-decoration: underline;
  font-size: larger;
}

#ll1 {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}
#ll1:hover {
  color: #7836f9 !important;
  color: white;
  text-decoration: underline;
  font-size: larger;
}

#ll2 {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}
#ll2:hover {
  color: #7836f9 !important;
  color: white;
  text-decoration: underline;
  font-size: larger;
}

#ll3 {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}
#ll3:hover {
  color: #7836f9 !important;
  color: white;
  text-decoration: underline;
  font-size: larger;
}

#card1 {
  position: absolute;
  left: 0;
}

#card2 {
  position: absolute;
  right: 0;
}

.list-group-item {
  color: #271770;
  background-color: #e9ecef;
}

.list-group-item.active {
  color: #fff;
  background-color: #007bff;
}

.list-group-item:hover {
  color: #fff;
  background-color: #0056b3;
}

.badge {
  color: white !important;
  background-color: green;
}
