html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom:  2.5rem;
  background-color: #271770;
}

.form-signin {
  max-width: 20.625rem;
  padding: 0.938rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-radius: 0;
  font-weight: bold !important;
  color: #271770 !important;
}

.form-signin input[type="tel"] {
  margin-bottom: -1px;
  border-radius: 0;
  font-weight: bold !important;
  color: #271770 !important;
}

.form-signin input[type="password"] {
  margin-bottom: 0.063rem;
  border-radius: 0;
  font-weight: bold !important;
  color: #271770 !important;
}
.form-signin input[type="email"] {
  margin-bottom: 0.063rem;
  border-radius: 0;
  font-weight: bold !important;
  color: #271770 !important;
}



.form-control:focus {
  box-shadow: #271770;
  border-color: #271770;
}

#submit{
  background-color: #271770;
  color: #f1f1f1;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#submit:hover{
  background-color:#084298

}

#error_message{
  display: none;
  color: red;
  font-style: italic;
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#password-input {
  position: relative;
  z-index: 1;
}


#show_password {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 2;
}
#show_confirm {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 2;
}






#a_login{
  font-weight: bold;
  color: #271770;

}

#a_signup{
  color: #271770;
}

#forgot_password{
  text-decoration: none;
  color: #271770;
  font-weight: bold;
}
#forgot_password:hover{
text-decoration: underline;
}

#span_signup{
  color: #271770;
  font-weight: bold;
}

#logo{
  border-radius: 50%;
}

#please_signin{
  color: #271770;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
